$input-placeholder-color: $color-grey2;
.form-group {
	position: relative;

	input,
	select {
		z-index: 2;
	}

	label {
		position: absolute;
		top: 15%;
		color: $input-placeholder-color;
		margin-left: 10%;
		z-index:1;
		@include transition(all 0.2s);
	}

	input:focus,
	.form-control.filled {
		+ label {
			top: -0.8rem;
			@include fontSize(11px);
			color: $color-blue1;
		}
	}

}