$input-placeholder-color: $color-grey2;
.form-group {
	position: relative;

	input,
	select {
		z-index: 2;
	}

	label {
		position: absolute;
		top: 15%;
        left:80px;
		color: $input-placeholder-color;
		z-index:1;
		@include transition(all 0.2s);
	}



	input:focus,
	.form-control.filled {
		+ label {
			top: -0.99888rem;
            left:80px;
			@include fontSize(14px);
			color: $color-blue1;
		}
	}


}