.main-page {
	background: url("../images/Home-Splash.png") -158px -235px no-repeat;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	max-width: 448px;

	.sign-in {
		background-color: $color-grey4;
		border-color: $color-grey4;
		color: $color-white;
	}

	.cta {
		bottom: 20px;
		position: absolute;
		margin: 0 auto;
		width: 100%;
		padding: 0 10px;
	}
}


.dashboard-page{
  .items{
    margin-top:5px;
    position:relative;
  }
  .item{
     width:33.33%;
     padding:10px;
     border:1px solid $color-grey2;
     box-sizing:border-box;
     float:left;
     height:120px;

  }

  .dim{
    width:25px;
    height:25px;
    position:abolute;
    top:120px;
    left:33.33px;
  }

  .tl{
    border-right:none;


  }
  .tc{
    border-right:none;

  }

  .tr{

  }

  .bl{
    border-top:none;
    border-right:none;
  }

  .bc{
    border-top:none;
    border-right:none;
  }

  .br{
    border-top:none;
  }

}