$color-blue1: #4A90E2;
$color-blue2: #35598E;

$color-orange1: #DA4F1A;

$color-brown1: #B1AA9F;
$color-brown2: #E4DED5;
$color-brown3: #F7F1EB;

$color-grey1: #F6F6F6;
$color-grey2: #D4D4D4;
$color-grey3: #9B9B9B;
$color-grey4: #4A4A4A;

$color-black: #000000;
$color-white: #FFFFFF;
