@import "palette";
$navbar-default-color: $color-white;
$navbar-default-bg: $color-orange1;
$font-family-base: "latoregular", sans-serif;
$font-family-app-title: "noto_serifregular", sans-serif;

$navbar-default-link-color: $color-white;
$navbar-default-link-hover-color: $color-white;
$panel-border-radius: 0;

$body-font-size: 14px;