<div class="choose-password-page">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav">
				<li class="navbar-text">Choose Password</li>
				<li class="navbar-left"><a href="#" class="navbar-link entypo chevron-thin-left"></a></li>
			</ul>
		</div>
	</nav>
	<p class="first info-blob">
		You're almost there! Now that you have entered all your necessary registration information, let's create a passport so that you can visit the account at a later time.
	</p>
	<p class="info-secondary">
		Your username is your <span class="bold">email address</span> or your <span class="bold">phone number</span> from the previous screen.
	</p>
	<form role="form">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					<span class="info-icon entypo lock"></span>
					<input type="{{passwordType}}" class="form-control" id="password">
					<label for="password">Password</label>
					<a class="password-toggle" ng-click="togglePasswordField()">{{infoText}}</a>
				</div>
			</div>
		</div>
		<p class="info-header">
			select challenge questions
		</p>
		<p class="info-blob">
			For your security and to reset your password, please choose two challenge question.
		</p>
		<p class="info-header">
			Question 1
		</p>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					<span class="info-icon entypo lock"></span>
					<select id="challenge_question_1" class="form-control" name="challenge_question_1">
						<option value=""></option>
						<option value="Where did you first meet swamiji?">Where did you first meet swamiji?</option>
						<option value="What was your first car?">What was your first car?</option>
						<option value="Where did you first meet your spouse?">Where did you first meet your spouse?</option>
					</select>
					<label for="challenge_question_1">Challenge question 1</label>
				</div>
				<div class="form-group">
					<span class="info-icon entypo key"></span>
					<input type="text" class="form-control" id="answer1">
					<label for="answer1">Answer 1</label>
				</div>
			</div>
		</div>
		<p class="info-header">
			Question 2
		</p>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					<span class="info-icon entypo lock"></span>
					<select id="challenge_question_2" class="form-control" name="challenge_question_2">
						<option value=""></option>
						<option value="Where did you first meet swamiji?">Where did you first meet swamiji?</option>
						<option value="What was your first car?">What was your first car?</option>
						<option value="Where did you first meet your spouse?">Where did you first meet your spouse?</option>
					</select>
					<label for="challenge_question_2">Challenge question 2</label>
				</div>
				<div class="form-group">
					<span class="info-icon entypo key"></span>
					<input type="text" class="form-control" id="answer2">
					<label for="answer2">Answer 2</label>
				</div>
			</div>
		</div>
	</form>
</div>