<div class="registration-page">
   <!---
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <ul class="nav navbar-nav">
                <li class="navbar-text">Profile</li>
                <li class="navbar-right"><a href="#choosePassword" class="navbar-link">Next</a></li>
                <li class="navbar-left"><a href="#" class="navbar-link"><i class="fa fa-angle-left fa-3x"></i></i></a></li>
            </ul>

        </div>
    </nav>
--->
   <!---

    <section>
        <figure>
            <img class="img-responsive" src="images/Profile-screen-bg-scaled.png" />
        </figure>

        <form role="form">
            <div class="panel panel-default first">
                <div class="panel-body">
                    <div class="form-group">
                        <i class="info-icon fa fa-user fa-2x"></i>
                        <input type="text" class="form-control" id="first_name">
                        <label for="first_name">Name/Email</label>
                    </div>
                    <div class="form-group">
                        <i class="info-icon"></i>
                        <input type="text" class="form-control" id="lastName">
                        <label for="lastName">Password</label>
                    </div>
                </div>
            </div>


        </form>
    </section>

    --->

    <section class="dashboard-page">
        <figure>
            <img class="img-responsive" src="images/Profile-screen-bg-scaled.png" />
        </figure>

        <section class="items">
             <div class="dim"></div>
             <div class="item tl"></div>
             <div class="item tc"></div>
             <div class="item tr"></div>
             <div class="item bl"></div>
             <div class="item bc"></div>
             <div class="item br"></div>
        </section>

    </section>
</div>

